[submodule "external/cmark"]
	path = external/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
